

.main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	padding: 30px;
	width: 600px;
	height: 200px;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #d3d3d3;
	display: flex;
	justify-content: center
	align-items: center;
	gap: 10px;
}

.green{
	width: 100%;
	background-color: green ;
	border-radius: 50%;
}

.yell{
	border-radius: 50%;
	width: 100%;
	background-color: yellow;
}

.red{
	border-radius: 50%;
	width: 100%;
	background-color: red;
}
